<!DOCTYPE html>
<html>
  <head>
    <title><%= globals.blogname %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header class="page-header <%=router.length?'active':''%>">
  		<div class="inner">
  			<a class="link" href="/">
          <% if(!!globals.useLogo){ %>
            <img src="/images/<%= globals.blogLogo %>" alt="<%= globals.blogName %>" style="margin: 10px 0 -10px 0"/></a>
          <% } else { %>
            <%= globals.blogName %>
          <% } %>
        <small>
        <%
          (router || []).forEach(
            function(data) {
        %>
          &nbsp;&middot;&nbsp;<a class="link" href="<%=data.href || ''%>"><%=data.title || ''%></a>
        <% }) %>
        </small>
        <% if(!!globals.subscribe) { %>
  			<a class="button source-button" href="<%=globals.subscribeHref || ''%>"><%=globals.subscribeTitle || 'Subscribe'%></a>
        <% } %>
  		</div>
  	</header>