<!DOCTYPE html>
<html>
  <head>
    <title><%= globals.blogName %></title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  </head>
  <body>
  	<header class="page-header <%=router.length?'active':''%>">
  		<div class="inner">
  			<a class="link" href="/">
          <% if(!!globals.useLogo){ %>
            <img src="/images/<%= globals.blogLogo %>" alt="<%= globals.blogName %>" style="margin: 0px 0 -8px 0"/></a>
          <% } else { %>
            <%= globals.blogName %>
          <% } %>
        <small>
        <%
          (router || []).forEach(
            function(data) {
        %>
          &nbsp;&middot;&nbsp;<a class="link" href="<%=data.href || ''%>"><%=data.title || ''%></a>
        <% }) %>
        </small>
        <% if(!!globals.subscribe) { %>
  			<a class="button source-button" href="<%=globals.subscribeHref || ''%>"><%=globals.subscribeTitle || 'Subscribe'%></a>
        <% } %>
  		</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?6794d92816109b7816c28a42fc54607b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  	</header>