<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header class="page-header <%=router.length?'active':''%>">
  		<div class="inner">
  			<a class="link" href="/"><img src="/images/logo.png" alt="<%= title %>" style="margin: 10px 0 -10px 0"/></a>
        <small>
        <%
          (router || []).forEach(
            function(data) {
        %>
          &nbsp;&middot;&nbsp;<a class="link" href="<%=data.href || ''%>"><%=data.title || ''%></a>
        <% }) %>
        </small>
  			<a class="button source-button" href="https://github.com/rijn/nodecho">Source code on Github</a>
  		</div>
  	</header>