<% include header %>
  	<main id="main">
		<% excerpt.forEach(function(data){ %>
			<article class="post">
				<header class="post-header">
					<h3 class="post-title">
						<a class="post-title-link" href="<%= data.href %>">
						<%= data.title %>
						</a>
					</h3>
				</header>
				<section class="post-excerpt post-markdown">
					<p>
						<%- data.excerpt %>
					</p>
				</section>
				<footer class="post-meta">
					<%= data.tags %>
					<time class="post-date" datetime="<%= data.time %>"><%= new Date(Number(data.time)).toDateString() %></time></time>
				</footer>
			</article>
		<% }) %>
		<nav class="pagination" role="navigation">
			<% if(newer > -1) { %>
				<a class="button newer-posts" href="/<%= newer %>">← Newer Posts</a>
			<% } %>
			<% if(older > 0) { %>
      		<a class="button older-posts" href="/<%= older %>">Older Posts →</a>
      		<% } %>
		</nav>
  	</main>
<% include footer %>