<!DOCTYPE html>
<html>
  <head>
    <title>Rijn</title>
    <link rel='stylesheet' href='/stylesheets/n.min.css' />
    <link rel='stylesheet' href='/stylesheets/links.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b85e971c3b90f577211c4c3f2743c876";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
  </head>
  <body>
    <div class="nav-container">
      <div class="nav-item">
        <div class="item-inner">
          友達
        </div>
      </div>
    </div>
    <div class="links-container">
<% links.forEach(function(data){ %>
        <a class="item <%=data.color%> <%=data.type%>" href="<%=data.href%>">
          <div class="item-hover">
          </div>
          <div class="text clearfix">
            <div class="title clearfix">
              <p><%=data.title%></p>
            </div>
            <div class="description clearfix">
              <p><%=data.description%></p>
            </div>
          </div>
        </a>
<% }) %>
    </div>
<% include cv.footer.ejs %>