<% include header %>
  	<main id="main">
		<% post.forEach(function(data){ %>
			<article class="post">
				<header class="post-header">
					<h3 class="post-title">
						<span class="post-title-link">
						<%= data.title %>
						</span>
					</h3>
					<div class="post-meta">
						<%= data.keyword %>
						<time class="post-date" datetime="<%= data.time %>"><%= new Date(data.time).toDateString() %></time>
						<span class="post-views"><%= data.views %> VIEWS</span>
					</div>
				</header>
				<section class="post-excerpt">
						<%- data.content %>
				</section>
			</article>
		<% }) %>
		<nav class="pagination" role="navigation">
      <a class="button older-posts" href="/page/2/">Share</a>
		</nav>
  	</main>
<% include footer %>